@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400&display=swap");
:root {
  --bg-color: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  --border: #606e85;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: var(--bg-color);
  height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 13.5px;
  user-select: none;
}
/* header */
header {
  border: 3px solid var(--border);
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-width: 550px;
  padding: 2.5%;
  margin: 3vh auto;
}
#logo {
  height: 55px;
}
.score-container {
  background-color: white;
  border-radius: 5px;
  padding: 0.4rem 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header p {
  color: hsl(229, 64%, 46%);
  font-size: 0.8rem;
}
#score {
  color: hsl(229, 25%, 31%);
  font-size: 2rem;
}

/* main div */
.main {
  display: flex;
  justify-content: center;
  align-items: space-around;
  margin: 10vh auto 0 auto;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 600px;
  position: relative;
}
.main-2 {
  display: none;
}
.main-1 {
  flex-direction: column;
  background: url("images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 60%;
}
.sp-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.rock-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rotate {
  animation: spin 0.7s ease-out;
  opacity: 0.7;
}
@keyframes spin {
  to {
    opacity: 0;
    transform: rotate(380deg);
  }
}
.fade {
  animation: fade 0.5s ease-in;
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    transform: scale(0.35);
    opacity: 0;
  }
}
.choice-wrapper {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 7vw;
  position: relative;
}
.selectSection .choice-wrapper, .selectSection .choice-wrapper img {
  cursor: url("images/paper.svg"), pointer;
}
.choice-wrapper img{
  cursor: auto;
}
.choice-wrapper::before {
  content: "";
  width: 75%;
  height: 75%;
  background: #eeeeee;
  box-shadow: inset 0px 7px 1px #b1b3b3e8;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}
.choice {
  width: 35%;
  height: 39%;
  z-index: 2;
}
.paper {
  background-image: linear-gradient(#4865f4, #5671f5);
  box-shadow: 0px 8px 0px -1px #2642bf;
}
.rock {
  background-image: linear-gradient(#dc2e4e, #dd405d);
  box-shadow: 0px 8px 0px -1px #991635;
}
.scissors {
  background-image: linear-gradient(#ec9e0e, #eca922);
  box-shadow: 0px 8px 0px -1px #cc6d1b;
}
.choice-text {
  text-align: center;
  margin-bottom: 1rem;
}
.choice-wrapper img[src="images/empty.png"] {
  width: 120%;
  height: 120%;
}
.choice-wrapper:active,
.button:active,
.main-btn:active {
  animation: button 0.5s linear;
}
.rules-btn:hover,
.main-btn:hover {
  color: #db1212;
}
.rules-btn,
.close {
  cursor: pointer;
}
.fa-heart {
  animation: button 0.5s ease-in-out infinite;
  color: red;
}
@keyframes button {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
.rules-btn {
  transition: 0.6s;
  font-size: 1rem;
  border-radius: 7px;
  border: 1.5px solid var(--border);
  padding: 0.4rem 1.5rem;
  color: white;
  margin-right: 1.5rem;
}
.result {
  min-height: 60%;
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 2rem;
}
.finish {
  width: 55%;
  display: none;
  align-items: stretch;
}
.end {
  text-align: center;
  font-size: 2.5rem;
  display: block;
  font-weight: 900;
}
.main-btn {
  transition: 0.6s;
  background-color: white;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin: 0.7rem 0;
  text-decoration: none;
  color: black;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 1rem;
  font-weight: 600;
}
.continue {
  width: 60%;
  margin-top: 2rem;
}
/* alert */
.alert {
  display: none;
  height: 40vh;
  width: 78vw;
  min-height: 300px;
  max-width: 400px;
  max-height: 400px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 10;
  border-radius: 10px;
  animation: fade 0.4s ease-out reverse;
  padding: 0 0.6rem;
}
.msg {
  height: 30vh;
  width: 70vw;
  padding: 0;
  justify-content: space-between;
}
.msg .alert-nav,
.msg h2 {
  background: var(--border);
  height: 20%;
  width: 100%;
  margin: 0;
  border-radius: 10px 10px 0 0;
  color: white !important;
}
.msg #goodluck,
.msg h3 {
  border-radius: 0 0 10px 10px;
  padding: 1rem 0.6rem;
  text-align: center;
}
.overlay {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}
.alert-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.6rem;
  margin: 0.5rem;
  width: 100%;
  font-size: 1.05rem;
}
.close {
  height: 2rem;
  width: 2rem;
  border: 2px solid var(--border);
  padding: 0.4rem;
  background: white;
  border-radius: 50%;
}
.alert-nav h2,
.alert p {
  color: hsl(214, 47%, 23%);
}
.alert p {
  margin: 0.7rem 0;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0.5rem;
  width: 100vw;
  max-width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0.3rem;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.footer,
.footer a {
  color: white;
}
@media (max-width: 320px) {
  .choice-wrapper {
    height: 100px;
    width: 100px;
    margin: 5% 7%;
  }
}
@media (min-width: 760px) {
  body {
    font-size: 16px;
  }
  #logo {
    height: 70px;
  }
  .continue {
    width: 40%;
  }
  .main-1 {
    margin: 6vh auto;
  }
  .choice-wrapper {
    height: 18vh;
    width: 18vh;
    margin: 4vh 0;
  }
  .footer{
    z-index: -1;
    margin: 0.5rem;
  }
}
